<!DOCTYPE html>
<html>
<head>
    <title>Umw&auml;zpumpe</title>

    <style>
    .button {
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 48px;
        margin: 6px 4px;
        cursor: pointer;
    }

    .button_on {
        background-color: #c91625;
        width: 100%;
    }
    .button_off {
        background-color: #10cc55;
        width: 100%;
    }

    td {
        padding: 8px;
    }

    </style>
</head>
<body>
     <p>
     Dies ist ein Text.<br />
     Dies auch.<br />
     Jetzt: {{ now }} <br />
     </p>

     <table style="width:100%">
         <tr>
             <td colspan="3"><button class="button button_off">Ausschalten</button></td>
         </tr>
         <tr>
             <td><button class="button button_on">15 Minuten</button></td>
             <td><button class="button button_on">30 Minuten</button></td>
             <td><button class="button button_on">60 Minuten</button></td>
         </tr>
     </table>

</body>
</html>
