<!DOCTYPE html>
<html>
<head>
    <title>Umw&auml;lzpumpe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>
    .button {
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 48px;
        margin: 6px 4px;
        cursor: pointer;
        width: 100%;
    }

    .button_on {
        background-color: #c91625;
    }
    .button_off {
        background-color: #10cc55;
    }
    .button_status {
        background-color: #2937ba;
    }

    td {
        padding: 8px;
    }

    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td>
                <p style="font-family:verdana; font-size:48px">
                Umw&auml;lzpumpe eingeschaltet bis: <br />
                <b>{{ on_until }}</b>
                </p>
            </td>
        </tr>
    </table>

    <form action="/" method="post" autocomplete="off">
    <table style="width:100%">
        <tr>
            <td colspan="3">
                <button type="submit" name="action" value="off" class="button button_off">Ausschalten</button>
            </td>
        </tr>
        <tr>
            <td><button type="submit" name="action" value="on:15" class="button button_on">15 Minuten</button></td>
            <td><button type="submit" name="action" value="on:30" class="button button_on">30 Minuten</button></td>
            <td><button type="submit" name="action" value="on:60" class="button button_on">60 Minuten</button></td>
        </tr>
            <td colspan="3">
                <button type="submit" name="action" value="status" class="button button_status">Status</button>
            </td>
    </table>
    </form>
</body>
</html>

