<!doctype html>
<html>
<title>Dokumentation</title>
<body>
<p>
Verf&uuml;gbare Links:<br />
<a href="http://pia:5000/color/red">rot</a><br />
<a href="http://pia:5000/color/green">gr&uuml;n</a><br />
<a href="http://pia:5000/color/blue">blau</a><br />
<a href="http://pia:5000/color/yellow">gelb</a><br />
<a href="http://pia:5000/color/fuchsia">fuchsia</a><br />
<a href="http://pia:5000/color/aqua">aqua</a><br />
<a href="http://pia:5000/color/white">wei&szlig;</a><br />
<a href="http://pia:5000/color/black">schwarz</a><br />
<br />
<a href="http://pia:5000/rainbow">Regenbogen</a><br />
</p>
</body>
</html>
