<!doctype html>
<html>
<head>
<title>Light my shelf</title>

<style>
thead {background-color:grey;}
a:link    {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover   {color:black; text-decoration: none;}
a:active  {color:black; text-decoration: none;}
table { border-collapse: collapse; }
table, th, td { border: 1px solid black; }
</style>

</head>
<body>
<font face="arial" size="20">

{% if error %}
<table width="50%">
<tr>
<td width="100%" bgcolor="tomato"> {{ error }} </td>
</tr>
</table>
<br />
{% endif %}

{% if success %}
<table width="50%">
<tr>
<td width="100%" bgcolor="palegreen"> {{ success }} </td>
</tr>
</table>
<br />
{% endif %}

<table border="0" width="100%">
<thead>
<tr>
<th colspan="3">Farben</th>
</tr>
</thead>
<tbody>
<tr>
<td width="33%" bgcolor="red" align="center"><a href="http://pia:5000/color/red">rot</a></td>
<td width="34%" bgcolor="green" align="center"><a href="http://pia:5000/color/green">gr&uuml;n</a></td>
<td width="33%" bgcolor="blue" align="center"><a href="http://pia:5000/color/blue">blau</a></td>
</tr><tr>
<td width="33%" bgcolor="yellow" align="center"><a href="http://pia:5000/color/yellow">gelb</a></td>
<td width="34%" bgcolor="fuchsia" align="center"><a href="http://pia:5000/color/fuchsia">fuchsia</a></td>
<td width="33%" bgcolor="aqua" align="center"><a href="http://pia:5000/color/aqua">aqua</a></td>
</tr><tr>
<td width="33%" bgcolor="white" align="center"><a href="http://pia:5000/color/white">wei&szlig;</a></td>
<td width="34%" bgcolor="black" align="center"><font color="white"><a href="http://pia:5000/color/black">schwarz</a></font></td>
</tr>
</tbody>
</table>
<br />

<table border="0" width="100%">
<thead>
<tr>
<th colspan="4">Regenbogen</th>
</tr>
</thead>
<tbody>
<tr>
<td width="25%" bgcolor="" align="center"><a href="http://pia:5000/rainbow?delay=5">schnell</a></td>
<td width="25%" bgcolor="" align="center"><a href="http://pia:5000/rainbow?delay=1000">mittel</a></td>
<td width="25%" bgcolor="" align="center"><a href="http://pia:5000/rainbow?delay=2500">normal</a></td>
<td width="25%" bgcolor="" align="center"><a href="http://pia:5000/rainbow?delay=5000">langsam</a></td>
</tr>
</tbody>
</table>
<br />

<table border="0" width="100%">
<thead>
<tr>
<th colspan="4">Helligkeit</th>
</tr>
</thead>
<tbody>
<tr>
<td width="25%" bgcolor="#808000" align="center"><a href="http://pia:5000/brightness/10">dunkel</a></td>
<td width="25%" bgcolor="#cccc00" align="center"><a href="http://pia:5000/brightness/25">normal</a></td>
<td width="25%" bgcolor="#ffff33" align="center"><a href="http://pia:5000/brightness/100">hell</a></td>
<td width="25%" bgcolor="#ffff99" align="center"><a href="http://pia:5000/brightness/200">sehr hell</a></td>
</tr>
</table>

<br>
<table width="33%" align="center">
<tr>
<td bgcolor="crimson" align="center"><a href="http://pia:5000/off">ausschalten</a></td>
</tr>
</table>

<hr />

<table>
<tr>
{% autoescape false %}
{{ status }}
{% endautoescape %}
</tr>
</table>

</font>
</body>
</html>

