[Queue]
Hostname = hostname.domain.org
Port     = 50001
Key      = my pretty cool passphrase

[Brightness]
URL      = http://<hostname>:5000/touchevent

[Weatherstation]
width  = 280
height = 480
xpos   = 0
ypos   = 0

[Timer]
width  = 110
height = 480
xpos   = 690
ypos   = 0

[MessageOfTheDay]
width  = 410
height = 480
xpos   = 280
ypos   = 0

