[Queue]
Hostname = host.domain.com
Port     = 50001
Key      = my passphrase

[Brightness]
URL = http://host.domain.com:5000/touchevent
port = 5000

[Weatherstation]
width  = 280
height = 480
xpos   = 0
ypos   = 0

[Timer]
width  = 110
height = 310
xpos   = 690
ypos   = 0

[MessageOfTheDay]
width  = 410
height = 480
xpos   = 280
ypos   = 0

[OtherControls]
width  = 110
height = 170
xpos   = 690
ypos   = 310

[Radio]
width = 600
height = 400
xpos = 50
ypos = 50
delay_to_hide = 10
port = 5002
base_url = http://host.domain.com:5002/

[Sensors]
port=5001

# eof #

