[Queue]
Hostname = host.domain.org
Port     = 50001
Key      = my pretty cool passphrase

[Brightness]
URL = http://server/touchevent
port = 5000

[Weatherstation]
width  = 280
height = 480
xpos   = 0
ypos   = 0

[Timer]
width  = 110
height = 400
xpos   = 690
ypos   = 0

[MessageOfTheDay]
width  = 410
height = 480
xpos   = 280
ypos   = 0

[Anteroom]
width  = 110
height = 80
xpos   = 690
ypos   = 400

[Radio]
width  = 600
height = 400
xpos   = 50
ypos   = 50
port   = 5002

[Sensors]
port=5001

# eof #

